<h1>A Content-Oriented API Application</h1>
<a href="/">Home</a> | <a href="#about">About</a> | <a href="#signup">Sign Up</a><br />
<p>
  This is a proof of concept content-oriented API application. Sign up to receieve a key and use that key to
  create and read content.
</p>
<h2 id="about">About</h2>
<p>If there was anything intersting to say, I'd put it here.</p>
<h2 id="signup">Sign Up</h2>
<p>To sign up, click the button to get started.</p>
<p><a class="btn btn-success" href="/app/users/sign_up">Yeah, this button.</a></p>