<h1>A Content-Oriented API Application</h1>
<a href="/">Home</a> | <a href="#about">About</a> | <%= link_to 'Sign in', new_user_session_path %><br />
<p>
  This is a proof of concept content-oriented API application. Sign up to receieve a key and use that key to
  create and read content.
</p>
<h2 id="about">About</h2>
<p>If there was anything intersting to say, I'd put it here.</p>
<h2 id="signup">Sign Up</h2>
<p>To sign up, click the button to get started.</p>
<p><%= link_to 'Yeah, this button', new_user_registration_path, class: 'btn btn-success' %></p>
