#error_explanation {
  h2 {
    font-size: 1em;
    font-weight: normal;
    display: none;
  }
  ul {
    padding-left: 0px;
    li {
      color: #f44336;
      list-style-type: none;
      padding: 1rem;
      border: 1px solid #f44336;
    }
  }
}