<%= render partial: 'layouts/links' %>

<h1>Profile</h1>
<p>
  <strong>Login:</strong> <%= current_user.email %><br />
  <strong>Key:</strong> <%= current_user.identity.hashkey %>
  <%= link_to 'Regenerate', regenerate_key_path, :method => :post %>
</p>